<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

  <title>URL Shortener v.1</title>

  <style>
    html {
      font-family: verdana;
    }

    code {
      background: #ccc;
      font-size: 1rem;
      line-height: 1.5rem;
      padding: 5px;
      border-radius: 3px;
    }

    li {
      margin-bottom: 15px;
    }
  </style>
</head>

<body>
  <h1>Welcome to URL Shortener</h1>

  <h2>Example creation usage:</h2>

  <ul>
    <li><code>https://urlmini.glitch.me/new/https://google.com</code></li>
    <li><code>https://urlmini.glitch.me/new/https://codepen.io</code></li>
    <li><code>https://urlmini.glitch.me/new/https://github.com</code></li>
  </ul>

  <h2>Sample usage:</h2>

  <ul>
    <li><code>https://urlmini.glitch.me/1</code></li>
    <li><code>https://urlmini.glitch.me/2</code></li>
  </ul>
  

</body>

</html>